<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension point="com.microsoft.tfs.checkinpolicies.checkinPolicy">
      <policy
        typeID="com.mzagar.tfs.checkinpolicy.autocomment.AutoCommentPolicy-1"
        class="com.mzagar.tfs.checkinpolicy.autocomment.AutoCommentPolicy" />
   </extension>
</plugin>
